body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10rem;
    padding-right: 10rem;
}

h1 {
    color: orange;
    text-decoration: underline;
}

h2 {
    color: rgba(250, 69, 186, 0.994);
}