/* General CSS */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    background-color: #D34E24;
  }
  
  main {
    background-color: #9e2d2d;
  }
  
  footer {
    padding-top: 3rem;
    background-color: #D34E24;
    color: white;
  }
  
  h1 {
    color: black;
    font-weight: 900;
  }
  
  h2 {
    font-weight: 500;
  }
  
  h3 {
    padding-top: 2rem;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  .light-link {
    color: #F1E8B8;
    text-decoration: underline;
    font-weight: 600;
  }

  .dark-link {
    color: #800000;
    text-decoration: underline;
    font-weight: 600;
  }

  .card-title {
    font-weight: 600;
  }
  
  /* Navbar/Footer CSS */  
  .nav-container ul {
    margin-bottom: 0;
    padding-left: 0;
    gap: 25px;
  }
  
  .nav-container {
    background-color: #D34E24;
    text-align: center;
    padding: 2rem 3rem;
  }
  
  .nav-links a, .nav-links p {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links ul {
    display: flex;
    justify-content: center;
  }

  
  .custom-justify-content-around {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .quick-links h2 {
    color: #F1E8B8;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .quick-links a {
    font-weight: 500;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }

  .quick-links ul {
    list-style: none;
  }

  .quick-links li {
    display: inline;
  }

  .quick-links,
  .travel-muse-info {
    width: 100%;
    margin-bottom: 50px;
  }
  
  .travel-muse-info {
    flex-basis: 35%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .dropdown-toggle::after {
    display: none !important; 
  }

  .dropdown-button:active {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65) !important;
  }

  .dropdown-item.active {
    background-color: #FAB573;
  }

  .hamburger-nav {
    display: flex;
    padding-top: 1rem;
  }

  .desktop-nav {
    display: none;
  }

  .hamburger-menu {
    position: relative;
    display: inline-block;
  }

  .dropdown-item:active {
    background-color: #FAB573;
  }

  .hamburger-nav span {
    padding-left: 5px;
  }
  
  /* Homepage CSS */
  
  .intro-title {
    color: white;
  }
  
  .intro-container {
    position: relative;
    padding: 10rem 2rem;
  }
  
  /* How to add background image/change opacity: https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity */
  
  .intro-container:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%); /* I used filter to darken rather than changing the opacity */
    background-image: url("img/kyoto-3.jpg");
    background-position: 20% 60%;
    background-size: cover;
  }
  
  .intro-content {
    position: relative;
    text-align: center;
  }
  
  .intro-content a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .intro-content p  {
    font-weight: 600;
  }
  
  .recommend-itinerary-container {
    padding-bottom: 6rem;
  }

  .recommend-itinerary-container h2 {
    color: white;
  }
  
  .card {
    width: 16rem;
    margin-bottom: 2rem;
  }
  .cards {
    padding-top: 1.5rem;
  }
  
  .btn-primary, .btn-primary a {
    background-color:#F28123;
    --bs-btn-active-bg:#d77626;
    color: white;
    border-width: 0;
  }
  
  .btn-primary:hover {
    background-color:#d77626;
  }
  
  .itinerary-form-container {
    position: relative;
  }
  
  /* Form CSS */
  
  .itinerary-form-container:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    background-image: url("img/berlin.jpg");
    background-repeat: no-repeat;
    background-position: 20% 0%;
    background-size: cover;
  }
  
  .itinerary-form-content {
    position: relative;
    background-color: white;
    padding: 3rem 2rem;
  }
  
  .input-submit {
    background-color:#F28123;
    --bs-btn-active-bg:#d77626;
    color: white;
    border-width: 0;
    border-radius: 5px;
    padding: .5rem 1rem;
    font-size: 1.2rem;
  }

  .error-message {
    color: red;
  }
  
  /* sampleEvent CSS */
  .event-body {
    padding: 2rem 1rem;
    background-color: white;
  }

  .event-property {
    font-weight: 700;
  }

  .btn-back {
      padding-bottom: 2rem;
      font-size: 1.25rem;
  }

  .btn-add {
      background-color: #FAB573;
      --bs-btn-active-bg: #FAB573;
      font-size: 1.25rem;
      margin-bottom: .5rem;
      margin-right: 1rem;
  }

  .btn-add:hover {
      background-color:#FAB573;
  }

  .icon-center {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
  }

  .event-content-container {
      flex-direction: column-reverse;
  }

  .event-overview-container {
      padding: 0;
  }

  .overview-content h2 {
    padding-bottom: 1rem;
  }

  .overview-content h3 {
    padding: 0;
    margin-bottom: 0;
  }


  .event-details-container {
      padding-bottom: 5rem;
  }

  .event-overall {
    background-color: white;
  }

  .event-details-content {
      position: relative;
      padding: 2rem 5rem 3rem 3rem;
      background-color: white;
      border-radius: 10px;
  }

  .event-image img {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: auto;
      border-radius: 10px;
  }

  .itinerary-form-container.event-form-image:before {
      background-image: url("../public/img/azenhas-do-mar.jpeg");
  }
  
  /* Itinerary CSS */
  
  .itinerary-body h3 {
    font-weight: 600;
    padding-bottom: 1rem;
  }
  
  .itinerary-body {
    position: relative;
  }
  
  .itinerary-body:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
    background-image: url("img/kyoto-3.jpg");
    background-repeat: repeat;
    background-position: 80% 40%;
    background-size: cover;
  }
  
  .itinerary-body-content {
    position: relative;
    background-color: white;
    padding: 1rem;
  }

  .trip-image {
    max-width: 360px;
    height: auto;
  }
  
  .placeTime{
    margin-bottom: 1rem;
  }
  
  .event-container {
    background-color: #831919;
    margin-bottom: 2rem;
    border-radius: 10px;
  }
  
  .event-content {
    padding: 3rem;
  }
  
  .event-content p, .event-content h4 {
    color: white;
    margin: 0;
  }
  
  .itinerary-event-image {
    width: 200px;
    height: 225px;
    object-fit: cover;
  }

  .event-title, .itinerary-title {
    font-weight: 900;
  }

  /* myTrips CSS */

  .no-trips {
    font-size: 3rem;
  }

  .mytrips-subtitle {
    color: white;
  }

  .mytrips-title {
    color: white;
  }
  
  @media (min-width: 768px) {
    .intro-container {
        padding: 17rem;
    }
  
    .card {
        width: 18rem;
    }
  
    .nav-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
  
    .event-content-container {
      justify-content: space-between;
      flex-direction: row;
    }
  
    .itinerary-form-container {
        padding: 5rem 5rem;
    }
  
    .itinerary-form-content {
        padding: 3rem 5rem;
    }
  
    .itinerary-event-image {
        width: 300px;
        border-radius: 0 10px 10px 0;
    }
  
    .itinerary-body {
        padding: 5rem 4rem;
    }
  
    .itinerary-body-content {
        padding: 4rem;
    }

    .placeTime {
      display: flex;
      justify-content: space-between;
    }

    .event-overview-container {
      padding: 5rem 3rem;
    }

    .overview-content h2 {
      padding-bottom: 3rem;
    }

    .event-body {
      padding: 5rem 4rem;
      background-color: white;
    }

    .hamburger-nav {
      display: none;
    }

    .desktop-nav {
      display: block;
    }
  }
  
  @media (min-width: 992px) {
    .itinerary-form-container {
        padding: 5rem 20rem;
    }
  
    .event-image img {
        max-width: 500px;
        max-height: 500px;
    }
  }